{% extends 'admin/admin.html.twig' %}

{% block title "Recette : " ~ recipe.title | default('') %}

{% block body %}
    <h1>{{ recipe.title | default('') }}</h1>
<p>
    <img src="{{ vich_uploader_asset( recipe, 'thumbnailFile')}}" alt="{{ recipe.slug }}" />
    <br/>
    {{ recipe.description | nl2br }}
</p>
{% endblock %}
