{% extends 'admin/admin.html.twig' %}

{% block title   %} Recette : Modifier la catégorie {{~category.name }}{% endblock %}

{% block body %}
    <h1>Modifier la catégorie : {{ category.name }}</h1>
   {{ form(form) }}

{% endblock %}