{# templates/emails/signup.html.twig #}


<h1>Vous avez reçu un nouveau email pour le service {{ data.service }}</h1>
<ul>
    <li>Nom : {{ data.name }}</li>
    <li>Email: {{ data.email }}</li>

</ul>

<p>
    <strong>Message : </strong>
    {{ data.message }}
</p>

